.flip-vertical {
  -moz-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  transform: scaleY(-1);
  -ms-filter: flipv; /*IE*/
  filter: flipv; /*IE*/
}
.fancy { text-align: center; }
html {
  /*
  DeepSkyBlue rgba(0, 191, 255, 1.0)
  LightSkyBlue rgba(135, 206, 250, 1.0)
  rgba(166, 238, 226, 1.0)
   */
  background: url('images/sky_forest.jpg'), black; /* Old browsers */
  background: -moz-linear-gradient(top, rgba(0, 191, 255, 1.0) 20%, rgba(255, 255, 255, 0.0) 100%), url('images/sky_forest.jpg'), black; /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,rgba(0, 191, 255, 1.0)), color-stop(100%,rgba(255, 255, 255, 0.0))), url('images/sky_forest.jpg'), black; /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 191, 255, 1.0) 20%,rgba(255, 255, 255, 0.0) 100%), url('images/sky_forest.jpg'), black; /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 191, 255, 1.0) 20%,rgba(255, 255, 255, 0.0) 100%), url('images/sky_forest.jpg'), black; /* Opera11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 191, 255, 1.0) 20%,rgba(255, 255, 255, 0.0) 100%), url('images/sky_forest.jpg'), black; /* IE10+ */
  /* This looks really really bad. */
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(0, 191, 255, 1.0)', endColorstr='rgba(255, 255, 255, 0.0)',GradientType=0 ); /* IE6-9 */
  /* If I enable this then my android phone tries to use it and it looks awful. */
  /*background: linear-gradient(top, rgba(0, 191, 255, 1.0) 20%,rgba(255, 255, 255, 0.0) 100%), url('images/sky_forest.jpg'), black; /* W3C */
  background-repeat: no-repeat;
  background-position: center bottom;
}
body { font-family: sans-serif; }
h1 { text-align: center; font-size: 35px; /*21px*/ }
h2 { text-align: center; font-size: 30px; /*18px*/}
p { font-size: 25px; /*16px*/}
.small-print { font-size: 20px; /*12px*/ }
img { text-align: center; }
.page-container { max-width: 1050px /*700px*/; margin: auto; }
.content-container { max-width: 900px /*600px*/; margin: auto; }
.flourish { width: 100%; max-width: 1050px /*700px*/; }
.gift-button,
.gift-small-print { max-width: 550px /*340px*/; margin: auto; }
.footer, div.gift-button { text-align: center; }
a { text-decoration: none; }
a:visited { color: rgb(0, 0, 238); }
.gift-info { margin-left: 20px; }
@media only screen and (max-device-width: 600px) {
  .page-container,
  .content-container,
  .flourish,
  .gift-small-print { max-width: none; }
  .gift-info, .gift-small-print { min-width: 50%; margin: auto; }
  .d-btn { height: 50px; }
  p { font-size: 50px; /*16px*/}
}
